body {
  font-size: 1.2em;
}

.first-letter{
  font-size: 4em;
  line-height: 1em;
  text-shadow: -4px 2px #bbbbbb;
}

.emphasized{
  border: solid;
  border-color:#bbbbbb;
  border-width: 1px;
  background-color: #f7f7f7;
  box-shadow: -1px 1px #e0e0e0;
}

